{{data.name}}
HP: {{sc.hp}}
AC: {{sc.ac}}
STR: {{sc.str}} ({{sc['str-mod']}}) DEX: {{sc.dex}} ({{sc['dex-mod']}}) CON: {{sc.con}} ({{sc['con-mod']}}) 
INT: {{sc.int}} ({{sc['int-mod']}}) WIS: {{sc.wis}} ({{sc['wis-mod']}}) CHA: {{sc.cha}} ({{sc['cha-mod']}})
{%- for section in data.sections %}
====[ {{section}} ]====
{% for part in data["sections"][section] -%}
{{data["sections"][section][part] -}}
{% endfor %}
{% endfor %}
