{{data.name}}
HP: {{sc.hp}} ({{sc.hp_dice}})
hit dice: {{(sc.lvl //2) + 1}}d{{sc.hitdice}}
AC: {{sc.ac}}
Damage Per Turn: {{sc.dpr}}
STR: {{sc.str}} ({{sc.strmod}}) DEX: {{sc.dex}} ({{sc.dexmod}}) CON: {{sc.con}} ({{sc.conmod}}) 
INT: {{sc.int}} ({{sc.intmod}}) WIS: {{sc.wis}} ({{sc.wismod}}) CHA: {{sc.cha}} ({{sc.chamod}})
{%- for section in data.sections %}
====[ {{section}} ]====
{% for part in data["sections"][section] -%}
{{data["sections"][section][part].rstrip()}}
{% endfor %}
{% endfor %}
